<a [routerLink]="['/trabalhos/novo']" class="btn btn-primary btn-md">
  Novo trabalho
</a>

<h3>{{title}}</h3>

<table class="table table-striped">
  <tr>
    <th>Título</th>
    <th>Aluno(a)</th>
    <th>Categoria</th>
    <th>Data da banca</th>
    <th>Nota</th>
  </tr>
  <tr *ngFor="let trabalho of trabalhos">
    <td><a [routerLink]="['/trabalhos', trabalho._id]">{{trabalho.titulo}}</a></td>
    <td>{{trabalho.aluno}}</td>
    <td>{{trabalho.categoria}}</td>
    <td>{{trabalho.dataBanca}}</td>
    <td>{{trabalho.nota}}</td>
  </tr>
</table>
