<!DOCTYPE html>
<html>

   <head>
      <meta charset="UTF-8" />
      <title>Ajuda do GerenTG</title>
   </head>

   <body>
      <h1>Ajuda</h1>
      <p>Desculpe, não posso ajudar no momento. 
         Entre em contato com o suporte técnico.</p>
   </body>

</html>