<!DOCTYPE html>
<html>

   <head>
      <meta charset="UTF-8" />
      <title>Bem-vindo</title>
   </head>

   <body>
      <h1>Bem-vindo ao <%= nome %></h1>
   </body>

   <script src="node_modules/es6-shim/es6-sim.min.js"></script>
   <script src="node_modules/zone.js/dist/zone.js"></script>
   <script src="node_modules/reflect-metadata/Reflect.js"></script>
   <script src="node_modules/systemjs/dist/system.js"></script>
   <script src="node_modules/rxjs/bundles/Rx.js"></script>

   <script src="systemjs.config.js"></script>

</html>